.side-bar-container {
  background-color: #9c9c9c;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

.side-bar-container .nav-link.active {
  border-radius: 0;
}

.side-bar-container .nav-link.disabled {
  color: #0f58aa;
  font-size: 20px;
  font-weight: bold;
}

.side-bar-container .nav-link {
  font-weight: bold;
}
